Hi {{ name }},

Thank you for joining the fight to get Justice Democrats elected! 

We are working hard to pull off the most ambitious campaign in US history to win back our democracy. And we'll need everyone -- people like YOU! -- to get actively involved. 

Here are some things you can do right now to help:

* [Nominate a candidate](http://justicedemocrats.com/nominate)
* [Follow/Share us on Facebook often](https://facebook.com/justicedemocrats) 
* [Donate some money to create a campaign that can compete with our billionaire-backed opponents](https://secure.actblue.com/contribute/page/justicedemocrats)

Let's take the political revolution all the way and replace Congress in 2018 with true fighters.

In solidarity,

The Justice Democrats team
