Hi {{ name }},

Thank you for joining the fight to get Justice Democrats elected! 

We are going to be fighting both establishment Democrats AND Republicans. This means we won't have the big money on our side, but what we will have is people like you to create this movement.

Here are some things you can do right now to help:

* [Nominate a candidate](http://justicedemocrats.com/nominate?utm_source=api.justicedemocrats.com&utm_medium=email&utm_campaign=autoresponder)
* [Tell us how you can help](https://justicedemocrats.com/volunteer-skills/?utm_source=api.justicedemocrats.com&utm_medium=email&utm_campaign=autoresponder)
* [Tell us about your community](https://docs.google.com/forms/d/e/1FAIpQLSe8CfK0gUULEVpYFm9Eb4iyGOL-_iDl395qB0z4hny7ek4iNw/viewform)
* [Follow/Share us on Facebook often](https://facebook.com/justicedemocrats) 
* [Donate some money to create a campaign that can compete with our billionaire-backed opponents](https://secure.actblue.com/contribute/page/justicedemocrats?refcode=autoresponder/api.justicedemocrats.com/email&?utm_source=api.justicedemocrats.com&utm_medium=email&utm_campaign=autoresponder)

Let's take the political revolution all the way. Together we can create a Democratic party that fights for people again and change the face of Congress.

In solidarity,

The Justice Democrats team
