Hi!

A user, {{ contact.name }}, has submitted a new event for {{ candidate }}.


Please go to your candidate's calendar and modify and approve or delete it.


Here are some details: <br />
Headline: {{ headline }} <br />
Intro: {{ intro }} <br />
From {{ start_time }} to {{ end_time }}

At {{ venue.name }}, <br />
{{ venue.address.address1 }}, <br />
{{ venue.address.city }}, {{ venue.address.state }}, {{ venue.address.zip5 }} <br />

Host info: <br />
Name: {{ contact.name }} <br />
Email: {{ contact.email }} <br />
Phone: {{ contact.phone }} <br />

Other: <br />
Event ID: {{ slug }} <br />
Event ID: {{ slug }} <br />
Campaign: {{ candidate }}
URL: {{ url }}
